<div class="hero-unit">
<h1>Ruby on Rails homepage</h1>
<p>This is the first page of our Ruby on Rails app</p>
<p> Check out <%= link_to "the Vimpex website", "http://www.vimpex.com" %>
</p>
<p>
	<%= link_to "Sign Up Now!", "#", class: "btn-primary btn-large" %>
</p>
</div>
